/* ================= NAVBAR ================= */

.navbar{
    position:fixed;
    top:15px;
    left:50%;
    transform:translateX(-50%);
    width:84%;
    max-width:1400px;
    border-radius:20px;
    z-index:9999;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:7px 38px;

    background: rgba(255,255,255,.18);

    backdrop-filter: blur(40px);

    -webkit-backdrop-filter: blur(40px);

    border:1px solid rgba(255,255,255,.25);

    box-shadow:

        0 8px 32px rgba(0,0,0,.35);

    border-radius:20px;
}

.logo{
    display:flex;
    align-items:center;
    gap:14px;
    text-decoration:none;
}

.logo span{
    width:54px;
    height:54px;

    display:flex;
    justify-content:center;
    align-items:center;

    border-radius:14px;

    background:#E31E24 !important;

    color:#fff;

    font-size:22px;
    font-weight:800;

    box-shadow:0 10px 25px rgba(227,30,36,.35);
}

.logo h2{
    color:#E31E24;
    font-size:24px;
    font-weight:800;
}

.logo p{
    color:#ffffff;
    font-size:13px;
    letter-spacing:3px;
    text-transform:uppercase;
}

.nav-links{

    display:flex;
    align-items:center;
    gap:36px;

    list-style:none;
}

.nav-links a,
.services-item span{

    color:#e2e8f0;
    text-decoration:none;

    font-size:16px;
    font-weight:500;

    cursor:pointer;

    transition:.3s;
}

.nav-links a:hover,
.services-item span:hover{

    color:#ef4444;
}

.nav-btn{

    background:linear-gradient(135deg,#E31E24,#b80d12);

    color:white;

    border:none;

    padding:14px 28px;

    border-radius:12px;

    font-size:15px;
    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

.nav-btn:hover{

    transform:translateY(-3px);

    box-shadow:0 15px 35px rgba(227,30,36,.45);
}/* ================= MEGA MENU ================= */

.services-item{
    position:relative;
    padding:20px 0;
}

.services-item::after{
    content:"";
    position:absolute;
    left:0;
    top:100%;
    width:100%;
    height:20px;
}
.mega-menu{
    position:absolute;
    top:60px;
    left:50%;
    transform:translateX(-50%);

    width:920px;

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;

    background:var(--card);
    padding:30px;

    border-radius:20px;

    border:1px solid var(--border);

    box-shadow:0 25px 60px rgba(0,0,0,.45);

    z-index:999;
}

.mega-column{
    display:flex;
    flex-direction:column;
}

.mega-column h3{
    color:#fff;
    font-size:20px;
    margin-bottom:18px;
    padding-bottom:12px;
    border-bottom:1px solid rgba(255,255,255,.08);
}

.mega-column a{
    color:var(--paragraph);
    text-decoration:none;
    padding:12px 15px;
    border-radius:12px;
    transition:.3s;
}

.mega-column a:hover{
    background:#1e293b;
    color:#ef4444;
    transform:translateX(6px);
}.navbar::before{
    content:"";
    position:absolute;
    inset:0;
    border-radius:20px;
    pointer-events:none;

    background:linear-gradient(
        180deg,
        rgba(255,255,255,.12),
        rgba(255,255,255,0)
    );

    opacity:.9;
}